<ion-view view-title="兴趣区" id="Page_Community" style="background-color: #dbdad9">
    <ion-header-bar class="bar-stable" >
        <button class="button" ng-click="flag.showReorder=!flag.showReorder;flag.showDelete=false;">排序</button>
        <h1 class="title">兴趣区</h1>
        <button class="button icon ion-plus-round" ng-click="add_item()"></button>

    </ion-header-bar>

    <ion-tabs class="tabs-striped tabs-top tabs-icon-top ">
        <ion-tab title="收藏的兴趣单" icon="ion-star">

            <ion-content >
                <ion-list show-delete="flag.showDelete" style="padding-top: 112px" show-reorder="flag.showReorder"
                          can-swipe="true">
                    <ion-item ng-repeat="item in items" ui-sref="interest_list">
                        <img src="img/longmao2.jpg" class="item_list_img">
                        <h3>{{item}}</h3>
                        <ion-option-button class="button-positive icon ion-ios-compose-outline">
                        </ion-option-button>
                        <ion-option-button class="button-assertive icon ion-ios-trash-outline" ng-click="delete_item(item)">
                        </ion-option-button>
                        <ion-reorder-button class="ion-navicon"
                                            on-reorder="move_item(item,$fromIndex,$toIndex)"></ion-reorder-button>
                    </ion-item>
                    <div class="spacer" data-componentid="spacer3" style="width: 0px; height: 180px;"></div>
                </ion-list>
            </ion-content>

        </ion-tab>
        <ion-tab title="我的兴趣单" icon="ion-navicon-round" href="">

            <ion-content >
                <ion-list show-delete="flag.showDelete" style="padding-top: 112px" show-reorder="flag.showReorder"
                          can-swipe="true">
                    <ion-item ng-repeat="item in items" ui-sref="interest_list">
                        <img src="img/longmao2.jpg" class="item_list_img">
                        <h3>{{item}}</h3>
                        <ion-option-button class="button-positive icon ion-ios-compose-outline">
                        </ion-option-button>
                        <ion-option-button class="button-assertive icon ion-ios-trash-outline" ng-click="delete_item(item)">
                        </ion-option-button>
                        <ion-reorder-button class="ion-navicon"
                                            on-reorder="move_item(item,$fromIndex,$toIndex)"></ion-reorder-button>
                    </ion-item>
                    <div class="spacer" data-componentid="spacer3" style="width: 0px; height: 180px;"></div>
                </ion-list>
            </ion-content>

        </ion-tab>
        <ion-tab title="我的好友" icon="ion-ios-people" href="">

            <ion-content style="padding-top: 90px">

            </ion-content>

        </ion-tab>
    </ion-tabs>

    </ion-content>
</ion-view>
